<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables.wxi?>
	<Product Id="$(var.ProductCode)" Name="$(var.ProductName)" Language="1049" Version="$(var.ProductVersion)" 
           Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes"/>
        
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <Feature Id="ProductFeature">
      <ComponentRef Id="ProductComponent" />
      <ComponentRef Id="ShortcutComponent"/>
      <ComponentRef Id="ApplicationShortcutDesktop"/>
    </Feature>
	</Product>

	<Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="$(var.ProductName)">
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ShortcutDir" Name="$(var.ProductName)">
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop"/>
    </Directory>
	</Fragment>
</Wix>
