<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables.wxi?>
	<Product Id="$(var.ProductCode)" Name="$(var.ProductName)" Language="1049" Version="$(var.ProductVersion)" 
           Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes"/>
        
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="SHORTCUT_PROGRAMMENU">1</Property>
    <Property Id="SHORTCUT_DESKTOP">1</Property>

    <WixVariable Id="WixUIDialogBmp" Value="Resources/welcome.bmp"/>
    <WixVariable Id="WixUIBannerBmp" Value="Resources/top.bmp"/>

    <UIRef Id="UI_Sequence"/>

    <Icon Id="icon.ico" SourceFile="Resources\appbar_sport_footbal.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <Feature Id="ProductFeature">
      <ComponentRef Id="ProductComponent" />
      <ComponentRef Id="ShortcutComponent"/>
      <ComponentRef Id="ApplicationShortcutDesktop"/>
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="$(var.ProductName)">
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ShortcutDir" Name="$(var.ProductName)">
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop"/>
    </Directory>
	</Product>	
</Wix>
