<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <UI Id="UI_Sequence">
      <UIRef Id="WixUI_InstallDir"/>
      <Publish Dialog="WelcomeDlg"
               Control="Next"
               Event="NewDialog"
               Value="InstallDirDlg"
               Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg"
               Control="Next"
               Event="NewDialog"
               Value="ShortcutsDlg"
               Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
      <Publish Dialog="InstallDirDlg"
               Control="Back"
               Event="NewDialog"
               Value="WelcomeDlg"
               Order="2">1</Publish>
      <Publish Dialog="ShortcutsDlg"
               Control="Next"
               Event="NewDialog"
               Value="VerifyReadyDlg"
               Order="2">1</Publish>
      <Publish Dialog="ShortcutsDlg"
               Control="Back"
               Event="NewDialog"
               Value="InstallDirDlg"
               Order="2">1</Publish>
      <Publish Dialog="VerifyReadyDlg"
               Control="Back"
               Event="NewDialog"
               Value="ShortcutsDlg"
               Order="2">1</Publish>
    </UI>
	</Fragment>
</Wix>
